/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  background-color: #dbe0e6;
  line-height: 1;
}

/* ------------------------- */
/***** ACCORDION STYLING *****/
/* ------------------------- */
.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.item {
  box-shadow: 0 0 32px rgba (0, 0, 0, 0.1); /*Horizontal, vertical, blur, color*/
  background-color: #e4e1e1;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
}

.acc-number,
.acc-header {
  font-weight: 500;
  font-size: 24px;
}
.acc-number {
  color: #868e96;
}
.acc-header {
}
.acc-accordion-icon {
  height: 24px;
}
.acc-hidden-box {
  grid-column: 2;
  display: none;
}
.acc-hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.acc-hidden-box ul {
  margin-left: 24px;
  color: #343a40;
  line-height: 1.8;
}

/* ACTIVE ITEM */
.open {
  border-top: 5px solid #087f5b;
}

.open .acc-header,
.open .acc-number {
  color: #087f5b;
}

.open .acc-accordion-icon {
  stroke: #087f5b;
}

.open .acc-hidden-box {
  display: block;
}

/* ------------------------ */
/****   Carousel Style   ****/
/* ------------------------ */

.carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  padding: 24px 48px 24px 86px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

.testimonial-profile-img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-auth {
  font-size: 14px;
  margin-bottom: 4px;
  color: #e6fcf5;
}

.testimonial-auth-title {
  font-size: 12px;
  color: #e6fcf5;
}

.btn {
  position: absolute;
  background-color: #e6fcf5;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.btn-icon {
  stroke: #087f5b;
  height: 24px;
  width: 24px;
}

.btn--left {
  /* **** Vertically centering with absolute positioning and transform */
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.btn--right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 32px);
  display: flex;
  gap: 8px;
}

.dot {
  border: 2px solid #087f5b;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.dot--active {
  background-color: #087f5b;
}

/* ------------------------ */
/****       Tables       ****/
/* ------------------------ */

.table-container {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 300px; /*  create space between elements */
}

table {
  width: 800px;
  margin-top: 100px;

  /* 
Border-collapse ~merges~ borders, instead of having 2 borders on each side, merge to one line.  
Alternatively, it's good to use if you want to hide borders (in the event you want a solid row)
*/
  border-collapse: collapse;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #087f5b;
  color: #e6fcf5;
  width: 25%;
}

tr:nth-child(even) {
  background: #f8f9fa;
}

tr:nth-child(even) {
  background: #b5bfc7;
}

/* ------------------------ */
/****    Page Counter    ****/
/* ------------------------ */

.page-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 30px 0;
  font-size: 16px;
}

.page-counter-btn-icon {
  stroke: #087f5b;
  height: 16px;
  width: 16px;
}

.page-counter-btn {
  border: 1px solid #087f5b;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.page-counter-btn:hover .page-counter-btn-icon {
  stroke: #e6fcf5;
}

.page-counter-btn:hover {
  background-color: #087f5b;
}

.page-counter a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.page-counter a:link,
.page-counter a:visited {
  text-decoration: none;
  width: 26px;
  height: 26px;
}
.page-counter a:hover,
.page-counter a:active,
.page-counter .page-selected {
  color: #e6fcf5;
  background-color: #087f5b;
  border: 1px solid #087f5b;
  border-radius: 50%;
}
